@model List<Blog.Models.BlogEntry>
<style>
    .table-entry {
        color: black;
        display: block;
        float: left;
        text-decoration: none;
    }
</style>
    <table class="table">
        @foreach (var entry in Model)
        {
            <tr style="line-height: 80%">
                <td>
                    <a href="DisplaySingle?toFindString=@entry.Topic">
                        <div class="table-entry">
                            @entry.Date.ToString() by @entry.Author.Name<br /> 
                            <b>@entry.Topic</b> <br />
                        </div>
                    </a>
                </td>
            </tr>
        }
    </table>