@model IEnumerable<EntryText>

    @foreach (var et in Model)
    {
        @Html.Raw("<h" + (2 + et.Nest).ToString() + ">" + et.Heading + "</h" + (2 + et).Nest.ToString() + ">");
        <p>@et.Text</p>
    }
